<template name="paramList">
  <div id="paramList">
    <form
      id="paramForm"
      name="paramForm"
      aria-label="form to set the curve parameters"
      novalidate
    >
      {{#if isEdit}}
      <div class="btn-group mx-1 mt-5 mb-2">
        <button type="submit" name="save" id="save" class="btn btn-success">
          <i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;Save Changes
        </button>
        <button
          type="button"
          name="cancel"
          id="cancel"
          class="edit-cancel btn btn-info"
        >
          <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancel
        </button>
      </div>
      {{/if}}
      <div class="row mx-1">
        <div
          id="paramWell"
          class="col-xl-8 col-lg-9 col-md-11 col-12 clearfix well rounded rounded-4 mt-2 p-3"
          style="background-color: {{paramWellColor}} !important;"
        >
          {{#each CurveParamGroups}} {{> curveParamGroup}} {{/each}}
        </div>
      </div>
      {{#unless isEdit}}
      <div class="btn-group mx-1 my-2">
        <button type="submit" name="add" id="add" class="btn btn-success">
          <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;{{addButtonText}}
        </button>
        {{#if isScorecard}}
        <button
          type="button"
          name="displayStatus"
          id="display-status"
          class="display-status btn btn-success"
        >
          <i class="fa-solid fa-list-check"></i>&nbsp;&nbsp;Scorecards Status
        </button>
        {{else}}
        <button
          type="button"
          name="restore"
          id="restore"
          class="restore-settings btn btn-success"
        >
          <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp;&nbsp;Restore Settings
        </button>
        {{/if}}
        <button type="button" name="reset" id="reset" class="reset btn btn-success">
          <i class="fa-solid fa-rotate"></i>&nbsp;&nbsp;Reset to Defaults
        </button>
      </div>
      {{/unless}}
    </form>
  </div>
</template>
