<template name="about">
  <div
    class="modal fade"
    id="aboutModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="aboutModalLabel"
  >
    <div class="modal-dialog modal-style">
      <div class="modal-content pt-3">
        <div class="modal-header border-bottom-0">
          <h2 id="aboutModalLabel" class="modal-title text-dark-blue">About</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="text-center mt-4 mb-3">
          {{#if isMetexpress}}
          <h3>METexpress</h3>
          {{else}}
          <h3>Model Analysis Tool Suite (MATS)</h3>
          {{/if}} {{{version}}}
        </div>
        <div id="hideNotesUpper" class="modal-footer border-top-0" style="display: none">
          <button type="button" class="btn btn-warning hide-release-notes">
            <span
              ><i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;Hide Release Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
        <div class="modal-body h-50">
          <div id="releaseNotes" style="display: none; overflow-y: auto">
            {{{releaseNotes}}}
          </div>
        </div>
        <div id="showNotes" class="modal-footer border-top-0" style="display: block">
          <button type="button" class="btn btn-warning show-release-notes">
            <span
              ><i class="fa-solid fa-note-sticky"></i>&nbsp;&nbsp;Show Release
              Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
        <div id="hideNotesLower" class="modal-footer border-top-0" style="display: none">
          <button type="button" class="btn btn-warning hide-release-notes">
            <span
              ><i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;Hide Release Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
