<template name="about">
  <div
    class="modal fade"
    id="aboutModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="aboutModalLabel"
  >
    <div class="modal-dialog modal-style">
      <div class="modal-content bg-white pt-3">
        <div class="modal-header border-bottom-0">
          <h2 id="aboutModalLabel" class="modal-title text-dark-blue">About</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="text-center mt-4 mb-3">
          {{#if isMetexpress}}
          <h3>METexpress</h3>
          {{else}}
          <h3>Model Analysis Tool Suite (MATS)</h3>
          {{/if}} {{{version}}}
        </div>
        <div
          id="hideNotesUpper"
          class="modal-footer border-top-0"
          style="display: none"
        >
          <button type="button" class="btn btn-warning hide-release-notes">
            <span
              ><i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;Hide Release Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
        <div class="modal-body h-50">
          <!-- <div class="usa-form-group">
            <label class="usa-label" for="fruit">Select a fruit</label>
            <div class="usa-combo-box">
              <select class="usa-select" name="fruit" id="fruit">
                <option value="">Select a fruit</option>
                <option value="apple">Apple</option>
                <option value="apricot">Apricot</option>
                <option value="avocado">Avocado</option>
                <option value="banana">Banana</option>
                <option value="blackberry">Blackberry</option>
                <option value="blood orange">Blood orange</option>
                <option value="blueberry">Blueberry</option>
                <option value="boysenberry">Boysenberry</option>
                <option value="breadfruit">Breadfruit</option>
                <option value="buddhas hand citron">Buddha's hand citron</option>
                <option value="cantaloupe">Cantaloupe</option>
                <option value="clementine">Clementine</option>
                <option value="crab apple">Crab apple</option>
                <option value="currant">Currant</option>
                <option value="cherry">Cherry</option>
                <option value="custard apple">Custard apple</option>
                <option value="coconut">Coconut</option>
                <option value="cranberry">Cranberry</option>
                <option value="date">Date</option>
                <option value="dragonfruit">Dragonfruit</option>
                <option value="durian">Durian</option>
                <option value="elderberry">Elderberry</option>
                <option value="fig">Fig</option>
                <option value="gooseberry">Gooseberry</option>
                <option value="grape">Grape</option>
                <option value="grapefruit">Grapefruit</option>
                <option value="guava">Guava</option>
                <option value="honeydew melon">Honeydew melon</option>
                <option value="jackfruit">Jackfruit</option>
                <option value="kiwifruit">Kiwifruit</option>
                <option value="kumquat">Kumquat</option>
                <option value="lemon">Lemon</option>
                <option value="lime">Lime</option>
                <option value="lychee">Lychee</option>
                <option value="mandarine">Mandarine</option>
                <option value="mango">Mango</option>
                <option value="mangosteen">Mangosteen</option>
                <option value="marionberry">Marionberry</option>
                <option value="nectarine">Nectarine</option>
                <option value="orange">Orange</option>
                <option value="papaya">Papaya</option>
                <option value="passionfruit">Passionfruit</option>
                <option value="peach">Peach</option>
                <option value="pear">Pear</option>
                <option value="persimmon">Persimmon</option>
                <option value="plantain">Plantain</option>
                <option value="plum">Plum</option>
                <option value="pineapple">Pineapple</option>
                <option value="pluot">Pluot</option>
                <option value="pomegranate">Pomegranate</option>
                <option value="pomelo">Pomelo</option>
                <option value="quince">Quince</option>
                <option value="raspberry">Raspberry</option>
                <option value="rambutan">Rambutan</option>
                <option value="soursop">Soursop</option>
                <option value="starfruit">Starfruit</option>
                <option value="strawberry">Strawberry</option>
                <option value="tamarind">Tamarind</option>
                <option value="tangelo">Tangelo</option>
                <option value="tangerine">Tangerine</option>
                <option value="ugli fruit">Ugli fruit</option>
                <option value="watermelon">Watermelon</option>
                <option value="white currant">White currant</option>
                <option value="yuzu">Yuzu</option>
              </select>
            </div>
          </div> -->
          <div id="releaseNotes" style="display: none; overflow-y: auto">
            {{{releaseNotes}}}
          </div>
        </div>
        <div id="showNotes" class="modal-footer border-top-0" style="display: block">
          <button type="button" class="btn btn-warning show-release-notes">
            <span
              ><i class="fa-solid fa-note-sticky"></i>&nbsp;&nbsp;Show Release
              Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
        <div
          id="hideNotesLower"
          class="modal-footer border-top-0"
          style="display: none"
        >
          <button type="button" class="btn btn-warning hide-release-notes">
            <span
              ><i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;Hide Release Notes</span
            >
          </button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-danger">
            <span><i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
