<template name="plotType">
  <div id="plotType" class="container">
    <div
      class="row bg-info-subtle border border-info border-1 rounded-1 mt-4 p-2 w-50"
    >
      <label
        for="plotTypes-selector"
        class="col-xl-3 col-lg-4 col-md-5 col-6 regularPublicSans fs-5"
        >Plot Type:&nbsp;&nbsp;</label
      >
      <select
        id="plotTypes-selector"
        class="col-xl-9 col-lg-8 col-md-7 col-6 mediumPublicSans fs-5 plotTypes-selector"
        aria-label="plot type options"
      >
        {{#each plotTypes}}
        <option
          class="plot-type-{{plotType}}"
          name="plot-type"
          id="plot-type-{{plotType}}"
          {{display}}
          value="{{plotType}}"
          {{selected
          plotType}}
        >
          {{spaced plotType}}
        </option>
        {{/each}}
      </select>
    </div>
  </div>
</template>
