<template name="plotType">
  <div id="plotType" class="container">
    <div class="row mt-4">
      <div
        class="row col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 bg-info-subtle border border-info border-1 rounded-1 p-2"
      >
        <label
          for="plotTypes-selector"
          class="col-lg-2 col-sm-3 col-4 col-form-label regularPublicSans fs-5"
          >Plot Type</label
        >
        <div class="col-lg-10 col-sm-9 col-8">
          <select
            id="plotTypes-selector"
            class="form-select regularPublicSans bg-white fs-5 plotTypes-selector"
            aria-label="plot type options"
          >
            {{#each plotTypes}}
            <option
              class="plot-type-{{plotType}}"
              name="plot-type"
              id="plot-type-{{plotType}}"
              {{display}}
              value="{{plotType}}"
              {{selected
              plotType}}
            >
              {{spaced plotType}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-lg-3 col-md-2 col-sm-1 col-0"></div>
    </div>
  </div>
</template>
