<template name="home">
  <main id="main" class="main row regularPublicSans w-100 g-0 m-0 p-0 bg-white fs-6">
    <a style="display: none" href="#main-content">Skip to main content</a>
    {{>topNav}} {{>spinner}} {{>help}}
    <div class="container w-100 pb-5">
      {{>error}}
      <div id="appTitleText" class="row text-center mt-5 mb-4">
        <h1 class="regularPublicSans text-center fs-1" id="main-content">{{title}}</h1>
      </div>
      {{>about}} {{#if Template.subscriptionsReady}} {{#if isUnderConstruction}}
      <div class="row">{{>underConstruction}}</div>
      {{else}}
      <div class="row" id="plotTypeContainer">{{>plotType}}</div>
      <div class="row">{{>changePlotType}}</div>
      <div class="row">{{>curveList}}</div>
      <div class="row">{{>error}} {{>info}}</div>
      <div id="paramView" class="row">{{>paramList}}</div>
      <div id="plotView" class="row">{{>plotList}}</div>
      {{resetDefaults}} {{/if}} {{else}} <div class="fs-3 text-center text-info-emphasis">Loading app metadata...</div>{{/if}}
    </div>
    <div>{{>graph}}</div>
  </main>
  {{>footer}}
</template>
