<template name="home">
  <main id="main" class="main row regularPublicSans w-100 g-0 m-0 p-0 bg-white fs-6">
    <a style="display: none" href="#main-content">Skip to main content</a>
    {{>topNav}} {{>spinner}} {{>help}}
    <div class="container w-100 pb-5">
      {{>error}}
      <div id="appTitleText" class="row text-center mt-5 mb-3">
        <h1 class="boldedPublicSans text-center fs-2" id="main-content">{{title}}</h1>
      </div>
      <div class="row mx-3" id="plotTypeContainer">{{>plotType}}</div>
      {{>about}} {{#if Template.subscriptionsReady}} {{#if isUnderConstruction}}
      <div class="row mx-3">{{>underConstruction}}</div>
      {{else}}
      <div class="row">{{>changePlotType}}</div>
      <div class="row mx-3">{{>curveList}}</div>
      <div class="row mx-3">{{>error}} {{>info}}</div>
      <div id="scatterView" class="row mx-3">{{>scatter2d}}</div>
      <div id="paramView" class="row">{{>paramList}}</div>
      <div id="plotView" class="row mx-3">{{>plotList}}</div>
      {{resetDefaults}} {{/if}} {{else}} Loading... {{/if}}
    </div>
    <div>{{>graph}}</div>
  </main>
  {{>footer}}
</template>
