<template name="textOutput" xmlns="http://www.w3.org/1999/html">
  <div id="textOutput" class="container">
    <button id="text_export" type="button" class="export" style="display: none">
      Export
    </button>
    <br />
    {{#each curves}}
    <div class="fs-6">{{curveText}}</div>
    {{/each}} <br />
    {{#if notScatter}}
    <table
      id="textStatsTable"
      class="table table-light table-striped table-hover table-bordered rounded"
    >
      <thead>
        <tr>
          {{{statHeaders}}}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each curves}}
        <tr>
          {{{stats this}}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}} {{#each curves}}
    <table
      id="textElementsTable"
      class="table table-light table-striped table-hover table-bordered rounded"
    >
      <thead class="thead-inverse">
        <tr>
          {{{elementHeaders this}}}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each elements this}}
        <tr>
          {{{elementHtml this}}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/each}}
  </div>
</template>
