<template name="topNav">
  <div id="topNav">
    <nav
      id="officialUSABanner"
      class="navbar navbar-expand-sm bg-white text-black p-0 container-fluid"
      aria-label="Official government website"
    >
      <div class="accordion h-100 ps-5 pe-3 row" id="usaAccordion">
        <div class="accordian-item">
          <header class="accordian-header" id="usaHeadingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#usaCollapseOne"
              aria-expanded="true"
              aria-controls="usaCollapseOne"
            >
              <div class="d-flex col">
                <p class="m-0 p-0">
                  <img
                    class="icon-size-small"
                    src="{{flagLogo}}"
                    alt="U.S. flag"
                  />&nbsp;
                  <span class="small-text"
                    >An official website of the United States government.&nbsp;
                    <u class="text-blue">Here's how you know</u>
                  </span>
                </p>
              </div>
            </button>
          </header>
        </div>
        <div
          id="usaCollapseOne"
          class="accordion-collapse collapse row accordian-body"
          aria-labelledby="usaHeadingOne"
          data-bs-parent="#usaAccordion"
        >
          <div class="d-flex w-100">
            <div class="w-50 p-4 col">
              <img
                class="icon-size"
                src="{{govLogo}}"
                alt=""
                aria-hidden="true"
              />
              <small>
                <strong>Official websites use .gov</strong><br />
                A<strong>.gov</strong> website belongs to an official government
                organization in the United States.
              </small>
            </div>
            <div class="w-50 p-4 col">
              <img
                class="icon-size"
                src="{{httpsLogo}}"
                alt=""
                aria-hidden="true"
              />
              <small>
                <strong>Secure .gov websites use HTTPS</strong>
                <br />
                A <strong>lock</strong> (<img
                  src="{{lockLogo}}"
                  fill="currentColor"
                  aria-label="Locked padlock icon"
                  focusable="false"
                />) or <strong>https://</strong> means you’ve safely connected to the
                .gov website. Share sensitive information only on official, secure
                websites.
              </small>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <nav
      id="MATSNavigationBar"
      class="navbar navbar-default"
      style="
        color: white;
        background: #000066;
        height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 1%;
      "
      aria-label="MATS navigation bar"
    >
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a
            style="margin-bottom: 0; margin-top: 0; padding: 0"
            class="navbar-brand"
            href="{{productLink}}"
            ><img
              style="
                height: 100%;
                margin-bottom: 0;
                margin-top: 0.5em;
                padding-left: 1em;
                padding-right: 1em;
              "
              src="{{transparentGif}}"
              alt="NOAA logo"
          /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <div style="margin-top: 0.5em">
                <a
                  href="{{agencyLink}}"
                  target="_blank"
                  style="color: white; font-size: small"
                  >{{agencyText}}<span class="sr-only">Opens in new window</span></a
                ><br />
                <a href="{{productLink}}"
                  ><span style="color: white; font-size: x-large"
                    >{{productText}}</span
                  ></a
                ><br />
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="margin-top: 0.5em">
              <a
                href="{{bugsLink}}"
                target="_blank"
                style="color: white; font-size: medium"
                >{{bugsText}}<span class="sr-only">Opens in new window</span></a
              >
            </li>
            <li style="margin-top: 0.5em">
              <a href="" class="about" style="color: white; font-size: medium">About</a>
            </li>
            <li style="margin-top: 0.5em">
              <a
                href="mailto:mats.gsl@noaa.gov?Subject=Feedback from {{emailText}}"
                target="_blank"
                style="color: white; font-size: medium"
                >Contact Us<span class="sr-only">Opens in new window</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="disclaimerBar" class="alert alert-info" style="color: black">
      PLEASE NOTE: The information on this website is for RESEARCH PURPOSES ONLY. No
      data from this site should be used to make decisions related to the safety of life
      and property. There is no guarantee that data will be updated or that any product
      will continue to be available.
    </div>
  </div>
  <div
    id="alertBar"
    class="alert alert-danger"
    style="color: black; width: 90%; margin-right: auto; margin-left: auto; font-size: small; display:{{alertMessageHidden}}"
  >
    {{alertMessage}}
  </div>
</template>
