<template name="item">
  <div
    id="{{name}}-item"
    class="item-button-group item btn-group"
    role="group"
    style="display: {{display}}"
    data-toggle="tooltip"
    data-placement="{{tooltipPlacement}}"
    title="{{tooltipTitle}}"
  >
    {{#if isColor}}
    <button
      type="button"
      class="control-button btn btn-primary regularPublicSans fs-6 border-end-0"
      id="{{controlButton}}"
      style="display:{{controlButtonCovered}};" 
    >
      {{{fa}}}</button
    >{{else}}{{#unless isRadioGroup}}<button
      type="button"
      class="control-button btn btn-primary regularPublicSans fs-6 border-end-0"
      id="{{controlButton}}"
    >
      {{tcname}}</button
    >{{/unless}}{{/if}}<div
      class="bg-white float-right"
      id="{{element}}"
      style="display: {{elementHidden}}; {{position}}; z-index: {{zIndexVal}};"
    >
      {{#if isSelect}} {{> select this}} {{else}} {{#if isSpinner}} {{>numberSpinner
      this}} {{else}} {{#if isInput}} {{> textInput this}} {{else}} {{#if isColor}} {{>
      color this}} {{else}} {{#if isDateRange}} {{> dateRange this}} {{else}} {{#if
      isCheckBoxGroup}}
      <div
        class="container bg-info-subtle border border-info border-1 rounded-1 text-nowrap fs-5 w-100"
        id="{{name}}-{{type}}"
      >
        {{lcname}}: {{#each options}} {{> checkboxGroup this}} {{/each}}
      </div>
      {{else}} {{#if isRadioGroup}}
      <div
        class="container btn-group bg-info-subtle border border-info border-1 rounded-1 text-nowrap fs-6 w-100 p-2"
        id="{{name}}-{{type}}"
      >
        <span>{{lcname}}:&nbsp;&nbsp;&nbsp;</span>
        {{#each options}} {{> radioGroup this}} {{/each}}
      </div>
      {{else}} {{#if isSelectMap}} {{> map this}} {{/if}} {{/if}} {{/if}} {{/if}}
      {{/if}} {{/if}} {{/if}} {{/if}}
    </div>{{#unless isRadioGroup}}{{#if hasHelp}}{{#if isColor}}<button
      type="button"
      class="control-button btn btn-info regularPublicSans fs-6 border-start-0"
      name="{{controlButton}}-value"
      id="{{controlButton}}-value"
      style="background-color: {{defaultColor}}; color: {{textColor}};"
    >{{textValue}}</button
    >{{else}}<button
      type="button"
      class="control-button btn btn-info regularPublicSans fs-6 border-start-0"
      name="{{controlButton}}-value"
      id="{{controlButton}}-value"
    >{{textValue}}</button
    >{{/if}}<button
      type="button"
      class="btn btn-info regularPublicSans fs-6 help"
      style="background-color: #fff3cd; color: #000000"
    >?</button
    >{{else}}{{#if isColor}}<button
      type="button"
      class="control-button btn btn-info regularPublicSans fs-6 border-start-0"
      name="{{controlButton}}-value"
      id="{{controlButton}}-value"
      style="background-color: {{defaultColor}}; color: {{textColor}};"
    >{{textValue}}</button
    >{{else}}<button
      type="button"
      class="control-button btn btn-info regularPublicSans fs-6 border-start-0"
      name="{{controlButton}}-value"
      id="{{controlButton}}-value"
    >{{textValue}}
    </button>
    {{/if}}{{/if}}{{/unless}}
  </div>
</template>
