<template name="map">
  <div id="mapModal" class="modal" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="margin-top: 1em;">
          <button class="btn col-2 btn-danger deselectSites">Deselect All Sites</button>
          <button type="button" class="close-map btn btn-info" data-dismiss="modal">
            &nbsp;&nbsp;Close
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body" id="{{name}}-{{type}}" style="margin-top: -2em"></div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>
