<template name="select">
  <div>
    <div class="btn-group btn-group-sm">
      {{#if isMultiple}}
      <button
        type="button"
        class="btn btn-info btn-sm selectAll"
        id="{{name}}-{{type}}-all"
      >
        Select All
      </button>
      <button
        type="button"
        class="btn btn-warning btn-sm clearSelections"
        id="{{name}}-{{type}}-clear"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-success btn-sm doneSelecting"
        id="{{name}}-{{type}}-done"
      >
        Done
      </button>
      {{/if}}
    </div>
  </div>
  <div>
    <select
      class="data-input {{name}} w-100"
      size="10"
      name="{{name}}"
      id="{{name}}-{{type}}"
      aria-label="{{name}} options"
      {{multiple}}
    >
      <option initial>initial</option>
    </select>
  </div>
</template>
