<template name="select">
  <div>
    {{#if isMultiple}}
    <div class="btn-group btn-group-sm">
      <button
        type="button"
        class="btn btn-info btn-sm border border-black selectAll"
        id="{{name}}-{{type}}-all"
      >
        Select All
      </button>
      <button
        type="button"
        class="btn btn-warning btn-sm border border-black clearSelections"
        id="{{name}}-{{type}}-clear"
      >
        Clear
      </button>
      <button
        type="button"
        class="btn btn-success btn-sm border border-black doneSelecting"
        id="{{name}}-{{type}}-done"
      >
        Done
      </button>
    </div>
    <div class="bg-white" style="font-size: smaller">
      Use ctrl + click (PC) or cmnd + click (Mac) to select multiple values.
    </div>
    <div>
      <select
        class="data-input form-select bg-white fs-6 {{name}}"
        name="{{name}}"
        id="{{name}}-{{type}}"
        aria-label="{{name}} options"
        {{multiple}}
      >
        <option initial>initial</option> 
      </select>
    </div>
    {{/if}}
  </div>
  <div class="usa-form-group m-0 width-mobile-lg">
    <label class="usa-label fs-6 pt-1 width-mobile-lg" for="{{name}}-{{type}}">Delete the default text directly below this message to display all {{name}} options</label>
    <div class="usa-combo-box width-mobile-lg">
      <select
        class="usa-select {{name}}"
        name="{{name}}"
        id="{{name}}-{{type}}"
        aria-label="{{name}} options"
        {{multiple}}
      >
        <option value="initial">initial</option>
      </select>
    </div>
  </div>
</template>
