<template name="curveItem">
  <div
    class="modal fade"
    id="removeCurveModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="removeCurveModalLabel"
  >
    <div class="modal-dialog modal-style">
      <div class="modal-content bg-white pt-3">
        <div class="modal-header border-bottom-0">
          <h2 id="removeCurveModalLabel" class="modal-title text-dark-blue">
            Remove {{removeCurve}}?
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body h-50">
          <h5 style="color: black">
            Are you sure you want to remove curve {{removeCurve}}?
          </h5>
        </div>
        <div class="modal-footer border-top-0">
          <button
            type="button"
            id="cancel-remove-curve"
            class="cancel-remove-curve btn btn-success"
            data-bs-dismiss="modal"
          >
            Cancel the Remove
          </button>
          <button
            type="button"
            id="confirm-remove-curve"
            class="btn btn-danger confirm-remove-curve"
            data-bs-dismiss="modal"
          >
            Remove curve {{removeCurve}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="curveItem-{{label}}">
    <div class="pull-left clearfix col-lg-12">
      <div class="p-2 mt-3 mb-3 added-curve" style="border-color: {{defaultColor}};">
        <div class="d-flex align-items-center">
          <label
            for="{{label}}-color-picker"
            class="m-2 px-2 py-1 rounded bg-darkgray text-white d-inline-block display-item-label label label-default text-center align-middle fs-5"
            id="LABEL-curve-{{curveNumber}}-Item"
            >{{label}}
          </label>
          <input
            id="{{label}}-color-picker"
            type="color"
            class="form-control form-control-color d-inline-block color-picker bg-white"
            value="{{defaultColorHex}}"
            style="margin-right: 0.5em"
            title="Choose a color"
          />
          {{#if DBcurve }} {{#if editingThis}}
          <div id="editMode" class="d-inline-block btn-toolbar-sm btn-group">
            <button
              name="save"
              id="curve-list-save"
              class="save-changes btn-success btn"
            >
              <i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp;Save {{editCurve}}
              Changes
            </button>
            <button name="cancel" id="curve-list-cancel" class="cancel btn-info btn">
              <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Cancel
            </button>
          </div>
          {{else}}
          <div id="nonEditMode" class="btn-toolbar-sm btn-group">
            <button id="curve-list-remove" class="remove-curve btn-danger btn">
              <i class="fa-solid fa-xmark"></i> &nbsp;Remove {{label}}
            </button>
            <button
              id="curve-list-edit"
              class="edit-curve edit-curve-{{label}} btn-info btn"
              style="display:{{displayEdit}}"
            >
              <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;Edit {{label}}
            </button>
          </div>
          <div id="nonEditMode-scatter" class="btn-toolbar-sm btn-group">
            <button
              id="curve-list-edit-xaxis"
              class="edit-curve-xaxis edit-curve-xaxis-{{label}} btn-info btn"
              style="display:{{displayEditXaxis}}"
            >
              <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;Edit {{label}} X Axis
            </button>
            <button
              id="curve-list-edit-yaxis"
              class="edit-curve-yaxis edit-curve-yaxis-{{label}}  btn btn-info"
              style="display:{{displayEditYaxis}}"
            >
              <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;Edit {{label}} Y Axis
            </button>
          </div>
          {{/if}} {{/if}}
        </div>
        {{> curveParamItemGroup this}}
      </div>
    </div>
  </div>
</template>
