<template name="curveList">
  <div
    class="modal fade"
    id="removeAllModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="removeAllModalLabel"
  >
    <div class="modal-dialog modal-style">
      <div class="modal-content bg-white pt-3">
        <div class="modal-header border-bottom-0">
          <h2 id="removeAllModalLabel" class="modal-title text-dark-blue">
            {{removeAllLabelText}}
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body h-50">
          <h5 style="color: black">{{removeAllText}}</h5>
        </div>
        <div class="modal-footer border-top-0">
          <button
            type="button"
            id="cancle-remove-all"
            class="cancle-remove-all btn btn-success"
            data-bs-dismiss="modal"
          >
            Cancel the Remove
          </button>
          <button
            type="button"
            id="confirm-remove-all"
            class="btn btn-danger confirm-remove-all"
            data-bs-dismiss="modal"
          >
            {{removeAllButtonText}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    id="curveList"
    class="well-sm clearfix col-lg-12 my-2 mx-2"
    style="display:{{displayCurves}}; width: 90%;"
  >
    {{#each curves}} {{> curveItem this}} {{/each}} {{#if isScorecard}}
    <div class="clearfix btn-toolbar gap-2 well well-sm">
      <button id="remove-all" class="remove-all btn btn-danger">
        <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Remove All
      </button>
      <button
        type="button"
        name="submitScorecard"
        id="submitScorecard"
        class="submitScorecard btn btn-success"
        style="display:{{displaySubmitScorecard}};"
      >
        <i class="fa-solid fa-diagram-project"></i> Submit Scorecard
      </button>
      <button type="button" class="btn spacebutton" id="cl-spacer"></button>
    </div>
    {{else}}
    <div class="clearfix btn-toolbar gap-2 well well-sm">
      <button id="remove-all" class="remove-all btn btn-danger">
        <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Remove All
      </button>
      <button
        type="button"
        name="save"
        id="save-curve-list"
        class="save-settings btn btn-success"
        style="display:{{displaySaveSettings}};"
      >
        <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;Save All Curve Settings
      </button>
      <button type="button" class="btn spacebutton"></button>
      <button
        type="button"
        name="plotUnMatched"
        id="plotUnmatched"
        class="plot-curves-unmatched btn btn-success"
        style="display:{{displayPlotUnMatched}};"
      >
        <i class="fa-solid fa-diagram-project"></i>&nbsp;&nbsp;Plot Unmatched
      </button>
      <button
        type="button"
        name="plotMatched"
        id="plotMatched"
        class="plot-curves-matched btn btn-success"
        style="display:{{displayPlotMatched}};"
      >
        <i class="fa-solid fa-diagram-project"></i> Plot Matched
      </button>
      <span class="p-2"
        ><input
          id="noGapsCheck"
          class="no-gaps-check data-input checkboxInput ml-2"
          type="checkbox"
          value=""
          name="noGapsCheck"
        />&nbsp;<label for="noGapsCheck"><b>Hide Gaps</b></label></span
      >
      <div id="metarMismatch" style="display:{{metarMismatchHidden}}">
        <span class="text-danger fs-5"
          ><br />CAUTION: Your curves do not all have the same truth dataset. Is this
          intentional?</span
        >
      </div>
    </div>
    {{/if}}
  </div>
</template>
