<template name="curveParamItemGroup">
  <div id="curveParamItemGroup">
    <div
      class="modal fade"
      id="confirmLostEditsModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="confirmLostEditsModalLabel"
    >
      <div class="modal-dialog modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="confirmLostEditsModalLabel" class="modal-title text-dark-blue">
              Lose Edits?
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body h-50">
            <h5 style="color: black">
              You were editing {{editCurve}} and clicked on controls for {{editTarget}}.
            </h5>
            <h5 style="color: #aa0000">
              Any changes to {{editCurve}} will be lost if you continue.
            </h5>
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              id="cancle-lose-edits"
              class="cancle-lose-edits btn btn-success"
              data-bs-dismiss="modal"
            >
              Cancel and keep editing {{editCurve}}
            </button>
            <button
              type="button"
              id="continue-lose-edits"
              class="btn btn-danger continue-lose-edits"
              data-bs-dismiss="modal"
            >
              Edit {{editTarget}} and lose changes to {{editCurve}}
            </button>
          </div>
        </div>
      </div>
    </div>

    {{#each curveParamGroups this}}
    <div class="btn-toolbar btn-toolbar-xs">
      {{#each curveParams this}}
      <button
        type="button"
        class="displayBtn btn btn-sm btn-default rounded m-1"
        name="{{name this}}"
        id="{{buttonId this}}"
        style="display:{{displayParam this}}"
      >
        <label class="regularPublicSans" for="{{buttonId this}}"
          >{{label this}}:&nbsp;&nbsp;</label
        >
        <span class="display-item" id="{{spanId this}}">{{value this}}</span>
      </button>
      {{/each}}
    </div>
    {{/each}}
  </div>
</template>
