<template name="scorecardCurveList">
  <div
    class="modal fade"
    id="removeAllModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="removeAllModalLabel"
  >
    <div class="modal-dialog modal-style">
      <div class="modal-content pt-3">
        <div class="modal-header border-bottom-0">
          <h2 id="removeAllModalLabel" class="modal-title text-dark-blue">
            Remove all blocks?
          </h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body h-50">
          <h5 style="color: black">Are you sure you want to remove all the blocks?</h5>
        </div>
        <div class="modal-footer border-top-0">
          <button
            type="button"
            id="cancle-remove-all"
            class="cancle-remove-all btn btn-success"
            data-bs-dismiss="modal"
          >
            Cancel the Remove
          </button>
          <button
            type="button"
            id="confirm-remove-all"
            class="btn btn-danger confirm-remove-all"
            data-bs-dismiss="modal"
          >
            Remove all the blocks
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    id="curveList"
    class="well-sm clearfix col-lg-12"
    style="display:{{displayCurves}};"
  >
    {{#each curves}} {{> curveItem this}} {{/each}}
    <div class="clearfix btn-toolbar well well-sm pull-left">
      <button id="remove-all" class="remove-all btn btn-danger">
        <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Remove All
      </button>
      <button type="button" class="btn spacebutton" id="cl-spacer"></button>
      <button
        type="button"
        name="submitScorecard"
        id="submitScorecard"
        class="submitScorecard btn btn-success"
        style="display:{{displaySubmitScorecard}};"
      >
        <i class="fa-solid fa-diagram-project"></i> Submit Scorecard
      </button>
      <button type="button" class="btn spacebutton" id="cl-spacer"></button>
    </div>
  </div>
</template>
