<template name="graph">
  {{!- graphContainer has a graphView and a textView}}
  <head>
    <script src="https://cdn.plot.ly/plotly-3.1.0.min.js"></script>
  </head>
  <div id="graph-container" class="container-fluid p-2" style="display: none">
    <div id="graph-control" class="row px-3 mb-4">
      <span id="all-plot-buttons-grp" class="btn-group btn-group-sm flex-wrap">
        <button
          id="backButton"
          type="button"
          class="back btn btn-sm btn-info rounded"
          data-placement="top"
          title="Return to main page"
        >
          <i class="fa-solid fa-arrow-left-long"></i>&nbsp;&nbsp;<strong>Back</strong>
        </button>
        <button
          id="backToPreviewSpacer"
          type="button"
          class="btn spacebutton"
          aria-label="spacer"
        ></button>
        <button
          id="previewButton"
          type="button"
          class="preview btn btn-info rounded-start"
          style="display: block"
          data-placement="top"
          title="Open graph in preview window"
        >
          <i class="fa-solid fa-print"></i>&nbsp;&nbsp;<strong>Preview</strong>
        </button>
        <button
          id="basisButton"
          type="button"
          class="basis btn btn-info"
          data-placement="top"
          title="View data details"
        >
          <i class="fa-solid fa-info"></i>&nbsp;&nbsp;<strong>Data Lineage</strong>
        </button>
        <button
          id="exportButton"
          type="button"
          class="export btn btn-info"
          data-placement="top"
          title="Export current text data to csv file"
        >
          <i class="fa-solid fa-download"></i>&nbsp;&nbsp;<strong>Export</strong>
        </button>
        <button
          id="plotButton"
          type="button"
          class="plotButton btn btn-info rounded-end"
          style="display: block"
          data-placement="top"
          title="Display plot"
        >
          <i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;<strong>Plot</strong>
        </button>
        <button
          id="textButton"
          type="button"
          class="textButton btn btn-info rounded-end"
          style="display: block"
          data-placement="top"
          title="Display text"
        >
          <i class="fa-regular fa-file-lines"></i>&nbsp;&nbsp;<strong>Text</strong>
        </button>
        {{#if isTextPage}}
        <button
          id="textToTextSpacer"
          type="button"
          class="btn spacebutton"
          aria-label="2nd spacer"
        ></button>
        <button
          id="firstPageButton"
          type="button"
          class="firstPageButton btn btn-primary rounded-start"
          data-placement="top"
          title="First page"
        >
          <i class="fa-solid fa-backward-fast"></i>&nbsp;&nbsp;<strong
            >First Page</strong
          >
        </button>
        <button
          id="previousTenPageButton"
          type="button"
          class="previousTenPageButton btn btn-primary"
          data-placement="top"
          title="Previous 10 pages"
        >
          <i class="fa-solid fa-backward-step"></i>&nbsp;&nbsp;<strong
            >Back 10 Pages</strong
          >
        </button>
        <button
          id="previousPageButton"
          type="button"
          class="previousPageButton btn btn-primary"
          data-placement="top"
          title="Previous page"
        >
          <i class="fa-solid fa-chevron-left"></i>&nbsp;&nbsp;<strong>Prev Page</strong>
        </button>
        <button
          id="nextPageButton"
          type="button"
          class="nextPageButton btn btn-primary"
          data-placement="top"
          title="Next page"
        >
          <i class="fa-solid fa-chevron-right"></i>&nbsp;&nbsp;<strong
            >Next Page</strong
          >
        </button>
        <button
          id="nextTenPageButton"
          type="button"
          class="nextTenPageButton btn btn-primary"
          data-placement="top"
          title="Next 10 pages"
        >
          <i class="fa-solid fa-forward-step"></i>&nbsp;&nbsp;<strong
            >Forward 10 Pages</strong
          >
        </button>
        <button
          id="lastPageButton"
          type="button"
          class="lastPageButton btn btn-primary rounded-end"
          data-placement="top"
          title="Last page"
        >
          <i class="fa-solid fa-forward-fast"></i>&nbsp;&nbsp;<strong>Last Page</strong>
        </button>
        {{/if}}{{#if isGraphPage}}
        <button
          id="textToAxesSpacer"
          type="button"
          class="btn spacebutton"
          aria-label="3rd spacer"
        ></button>
        {{#if isNotMap}}
        <button
          id="axisLimitButton"
          type="button"
          class="axisLimitButton btn btn-info rounded-start"
          data-placement="top"
          title="Edit axes"
        >
          <i class="fa-solid fa-arrows-up-down-left-right"></i>&nbsp;&nbsp;<strong
            >Axes</strong
          >
        </button>
        {{/if}} {{#if isProfile}}
        <button
          id="axisYScale"
          type="button"
          class="axisYScale btn btn-info"
          data-placement="top"
          title="Toggle linear/log Y axis"
        >
          <i class="fa-solid fa-arrow-up-short-wide"></i>&nbsp;&nbsp;<strong
            >Y Linear/Log</strong
          >
        </button>
        {{/if}} {{#if isThreshold}}
        <button
          id="axisXSpace"
          type="button"
          class="axisXSpace btn btn-info"
          data-placement="top"
          title="Toggle equi-spaced X axis"
        >
          <i class="fa-solid fa-arrows-to-circle"></i>&nbsp;&nbsp;<strong
            >Equi-space X</strong
          >
        </button>
        {{/if}} {{#if isMultiAxisLinePlot}} {{#if isProfile}}
        <button
          id="xAxisCombineButton"
          type="button"
          class="axisCombineButton btn btn-info"
          data-placement="top"
          title="Combine x-axes"
        >
          <i class="fa-solid fa-arrows-left-right"></i>&nbsp;&nbsp;<strong
            >Merge X Axes</strong
          >
        </button>
        {{/if}} {{#if isSimpleScatter}}
        <button
          id="axisCombineButton"
          type="button"
          class="axisCombineButton btn btn-info"
          data-placement="top"
          title="Combine axes"
        >
          <i class="fa-solid fa-maximize"></i>&nbsp;&nbsp;<strong
            >Merge X/Y Axes</strong
          >
        </button>
        {{else}}
        <button
          id="yAxisCombineButton"
          type="button"
          class="axisCombineButton btn btn-info"
          data-placement="top"
          title="Combine y-axes"
        >
          <i class="fa-solid fa-arrows-up-down"></i>&nbsp;&nbsp;<strong
            >Merge Y Axes</strong
          >
        </button>
        {{/if}} {{/if}} {{#if isContour}}
        <button
          id="colorbarButton"
          type="button"
          class="colorbarButton btn btn-info"
          data-placement="top"
          title="Edit colorbar"
        >
          <i class="fa-solid fa-palette"></i>&nbsp;&nbsp;<strong>Colorbar</strong>
        </button>
        {{else}} {{#if isNotMap}}
        <button
          id="lineTypeButton"
          type="button"
          class="lineTypeButton btn btn-info"
          data-placement="top"
          title="Edit curve styles"
        >
          <i class="fa-solid fa-xmarks-lines"></i>&nbsp;&nbsp;<strong
            >Curve Styles</strong
          >
        </button>
        <button
          id="showHideButton"
          type="button"
          class="showHideButton btn btn-info"
          data-placement="top"
          title="Show/hide elements"
        >
          <i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;<strong>Show/Hide</strong>
        </button>
        {{/if}} {{/if}} {{#if isNotMap}}
        <button
          id="legendTextButton"
          type="button"
          class="legendTextButton btn btn-info"
          data-placement="top"
          title="Edit legend text"
        >
          <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;<strong>Edit Legend</strong>
        </button>
        {{#if isLineOrScatterPlot}}
        <button
          id="filterPointsButton"
          type="button"
          class="filterPointsButton btn btn-info"
          data-placement="top"
          title="Filter graph points"
        >
          <i class="fa-regular fa-square-check"></i>&nbsp;&nbsp;<strong
            >Filter Points</strong
          >
        </button>
        {{/if}}
        <button
          id="replotZoomButton"
          type="button"
          class="replotZoomButton btn btn-info"
          style="display: {{displayReplotZoom}};"
          data-placement="top"
          title="Re-query data within current zoom range"
        >
          <i class="fa-solid fa-magnifying-glass-chart"></i>&nbsp;&nbsp;<strong
            >Re-sample</strong
          >
        </button>
        {{/if}}
        <button
          id="reCacheButton"
          type="button"
          class="reCacheButton btn btn-info {{recacheButtonRadius}} rounded-end"
          data-placement="top"
          title="Replot graph without using cache"
        >
          <i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;<strong>Re-cache</strong>
        </button>
        {{/if}}
      </span>
    </div>
    {{#if isNotMap}}
    <div
      class="modal fade"
      id="axisLimitModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="axisLimitModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="axisLimitModalLabel" class="modal-title text-dark-blue">Axes</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Select axis limits and labels</h3>
            <h4>
              * Only data from your original time range has been queried and is
              available to plot.
            </h4>
          </div>
          <div class="modal-body h-50">
            {{#each xAxis in xAxes}}
            <div><br /></div>
            <div id="x{{xAxis.label}}AxisCustomControls" style="display: block">
              <div class="row">
                <label for="x{{xAxis}}AxisLabel" class="col-2"
                  >X{{xAxis}} label:
                </label>
                <span class="col-3">
                  <input
                    id="x{{xAxis}}AxisLabel"
                    class="x{{xAxis}}-axis-label data-input form-control bg-white textInput w-100"
                    type="text"
                    value="{{xAxisTitle xAxis}}"
                    name="x{{xAxis}}AxisLabel"
                /></span>
                <label for="x{{xAxis}}AxisFont" class="col-4"
                  >&nbsp;&nbsp;X{{xAxis}} label font size:
                </label>
                <span class="col-2">
                  <input
                    id="x{{xAxis}}AxisFont"
                    class="x{{xAxis}}-axis-font data-input form-control bg-white numberInput w-100"
                    type="number"
                    value="{{xAxisTitleFont xAxis}}"
                    name="x{{xAxis}}AxisFont"
                /></span>
              </div>
              <div
                id="xAxisControlsNumber"
                style="display:{{xAxisControlsNumberVisibility}};"
              >
                <div class="row">
                  <label for="x{{xAxis}}AxisMin" class="col-2">X{{xAxis}} min: </label>
                  <span class="col-3">
                    <input
                      id="x{{xAxis}}AxisMin"
                      class="x{{xAxis}}-axis-min data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{xAxisMin xAxis}}"
                      name="x{{xAxis}}AxisMin"
                  /></span>
                  <label for="x{{xAxis}}TickFont" class="col-4"
                    >&nbsp;&nbsp;X{{xAxis}} tick font size:
                  </label>
                  <span class="col-2">
                    <input
                      id="x{{xAxis}}TickFont"
                      class="x{{xAxis}}-tick-font data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{xAxisTickFont xAxis}}"
                      name="x{{xAxis}}TickFont"
                  /></span>
                </div>
                <div class="row">
                  <label for="x{{xAxis}}AxisMax" class="col-2">X{{xAxis}} max: </label>
                  <span class="col-3">
                    <input
                      id="x{{xAxis}}AxisMax"
                      class="x{{xAxis}}-axis-max data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{xAxisMax xAxis}}"
                      name="x{{xAxis}}AxisMax"
                  /></span>
                  <label for="x{{xAxis}}SigFigs" class="col-4"
                    >&nbsp;&nbsp;X{{xAxis}} sign. figures:
                  </label>
                  <span class="col-2">
                    <input
                      id="x{{xAxis}}SigFigs"
                      class="x{{xAxis}}-sig-figures data-input form-control bg-white textInput w-100"
                      type="text"
                      value="Auto"
                      name="x{{xAxis}}SigFigs"
                  /></span>
                </div>
                <div class="row">
                  <label for="x{{xAxis}}TickInterval" class="col-2"
                    >X{{xAxis}} step:
                  </label>
                  <span class="col-3">
                    <input
                      id="x{{xAxis}}TickInterval"
                      class="x{{xAxis}}-tick-interval data-input form-control bg-white textInput w-100"
                      type="text"
                      value="Auto"
                      name="x{{xAxis}}TickInterval"
                  /></span>
                </div>
              </div>
              <div
                id="xAxisControlsText"
                style="display:{{xAxisControlsTextVisibility}};"
              >
                <div class="row">
                  <label for="x{{xAxis}}AxisMinText" class="col-2"
                    >X{{xAxis}} min:
                  </label>
                  <span class="col-3">
                    <input
                      id="x{{xAxis}}AxisMinText"
                      class="x{{xAxis}}-axis-min data-input form-control bg-white textInput w-100"
                      type="text"
                      value="{{xAxisMin xAxis}}"
                      name="x{{xAxis}}AxisMinText"
                  /></span>
                  <label for="x{{xAxis}}TickFontText" class="col-4"
                    >&nbsp;&nbsp;X{{xAxis}} tick font size:
                  </label>
                  <span class="col-2">
                    <input
                      id="x{{xAxis}}TickFontText"
                      class="x{{xAxis}}-text-tick-font data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{xAxisTickFont xAxis}}"
                      name="x{{xAxis}}TextTickFont"
                  /></span>
                </div>
                <div class="row">
                  <label for="x{{xAxis}}AxisMaxText" class="col-2"
                    >X{{xAxis}} max:
                  </label>
                  <span class="col-3">
                    <input
                      id="x{{xAxis}}AxisMaxText"
                      class="x{{xAxis}}-axis-max data-input form-control bg-white textInput w-100"
                      type="text"
                      value="{{xAxisMax xAxis}}"
                      name="x{{xAxis}}AxisMaxText"
                  /></span>
                </div>
                <div class="row">
                  <span class="col-8"
                    >&nbsp;&nbsp; (Enter dates in YYYY-MM-DD HH:MM format)</span
                  >
                </div>
              </div>
            </div>
            {{/each}} {{#each yAxis in yAxes}}
            <div><br /></div>
            <div id="y{{yAxis.label}}AxisCustomControls" style="display: block">
              <div class="row">
                <label for="y{{yAxis}}AxisLabel" class="col-2"
                  >Y{{yAxis}} label:
                </label>
                <span class="col-3">
                  <input
                    id="y{{yAxis}}AxisLabel"
                    class="y{{yAxis}}-axis-label data-input form-control bg-white textInput w-100"
                    type="text"
                    value="{{yAxisTitle yAxis}}"
                    name="y{{yAxis}}AxisLabel"
                /></span>
                <label for="y{{yAxis}}AxisFont" class="col-4"
                  >&nbsp;&nbsp;Y{{yAxis}} label font size:
                </label>
                <span class="col-2">
                  <input
                    id="y{{yAxis}}AxisFont"
                    class="y{{yAxis}}-axis-font data-input form-control bg-white numberInput w-100"
                    type="number"
                    value="{{yAxisTitleFont yAxis}}"
                    name="y{{yAxis}}AxisFont"
                /></span>
              </div>
              <div
                id="yAxisControlsNumber"
                style="display:{{yAxisControlsNumberVisibility}};"
              >
                <div class="row">
                  <label for="y{{yAxis}}AxisMin" class="col-2"
                    >Y{{yAxis}} min{{logScaleText}}:
                  </label>
                  <span class="col-3">
                    <input
                      id="y{{yAxis}}AxisMin"
                      class="y{{yAxis}}-axis-min data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{yAxisMin yAxis}}"
                      name="y{{yAxis}}AxisMin"
                  /></span>
                  <label for="y{{yAxis}}TickFont" class="col-4"
                    >&nbsp;&nbsp;Y{{yAxis}} tick font size:
                  </label>
                  <span class="col-2">
                    <input
                      id="y{{yAxis}}TickFont"
                      class="y{{yAxis}}-tick-font data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{yAxisTickFont yAxis}}"
                      name="y{{yAxis}}TickFont"
                  /></span>
                </div>
                <div class="row">
                  <label for="y{{yAxis}}AxisMax" class="col-2"
                    >Y{{yAxis}} max{{logScaleText}}:
                  </label>
                  <span class="col-3">
                    <input
                      id="y{{yAxis}}AxisMax"
                      class="y{{yAxis}}-axis-max data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{yAxisMax yAxis}}"
                      name="y{{yAxis}}AxisMax"
                  /></span>
                  <label for="y{{yAxis}}SigFigs" class="col-4"
                    >&nbsp;&nbsp;Y{{yAxis}} sign. figures:
                  </label>
                  <span class="col-2">
                    <input
                      id="y{{yAxis}}SigFigs"
                      class="y{{yAxis}}-sig-figures data-input form-control bg-white textInput w-100"
                      type="text"
                      value="Auto"
                      name="y{{yAxis}}SigFigs"
                  /></span>
                </div>
                <div class="row">
                  <label for="y{{yAxis}}TickInterval" class="col-2"
                    >Y{{yAxis}} step:
                  </label>
                  <span class="col-3">
                    <input
                      id="y{{yAxis}}TickInterval"
                      class="y{{yAxis}}-tick-interval data-input form-control bg-white textInput w-100"
                      type="text"
                      value="Auto"
                      name="y{{yAxis}}TickInterval"
                  /></span>
                </div>
              </div>
              <div
                id="yAxisControlsText"
                style="display:{{yAxisControlsTextVisibility}};"
              >
                <div class="row">
                  <label for="y{{yAxis}}AxisMinText" class="col-2"
                    >Y{{yAxis}} min:
                  </label>
                  <span class="col-3">
                    <input
                      id="y{{yAxis}}AxisMinText"
                      class="y{{yAxis}}-axis-min data-input form-control bg-white textInput w-100"
                      type="text"
                      value="{{yAxisMin yAxis}}"
                      name="y{{yAxis}}AxisMinText"
                  /></span>
                  <label for="y{{yAxis}}TickFontText" class="col-4"
                    >&nbsp;&nbsp;Y{{yAxis}} tick font size:
                  </label>
                  <span class="col-2">
                    <input
                      id="y{{yAxis}}TickFontText"
                      class="y{{yAxis}}-text-tick-font data-input form-control bg-white numberInput w-100"
                      type="number"
                      value="{{yAxisTickFont yAxis}}"
                      name="y{{yAxis}}TextTickFont"
                  /></span>
                </div>
                <div class="row">
                  <label for="y{{yAxis}}AxisMaxText" class="col-2"
                    >Y{{yAxis}} max:
                  </label>
                  <span class="col-3">
                    <input
                      id="y{{yAxis}}AxisMaxText"
                      class="y{{yAxis}}-axis-max data-input form-control bg-white textInput w-100"
                      type="text"
                      value="{{yAxisMax yAxis}}"
                      name="y{{yAxis}}AxisMaxText"
                  /></span>
                </div>
                <div class="row">
                  <span class="col-8"
                    >&nbsp;&nbsp; (Enter dates in YYYY-MM-DD HH:MM format)</span
                  >
                </div>
              </div>
            </div>
            {{/each}}
            <div class="row">
              <div><br /></div>
              <label for="legendFontSize" class="col-4"
                >&nbsp;&nbsp;Legend font size:
              </label>
              <span class="col-2">
                <input
                  id="legendFontSize"
                  class="legend-font-size data-input form-control bg-white numberInput w-100"
                  type="number"
                  value="{{legendFontSize}}"
                  name="legendFontSize"
              /></span>
            </div>
            <div class="row">
              <label for="legendFontColor" class="col-4"
                >&nbsp;&nbsp;Legend font color:
              </label>
              <span class="col-5">
                <input
                  id="legendFontColor"
                  type="color"
                  class="form-control form-control-color d-inline-block color-picker bg-white legendFontColor-graphColorpick"
                  value="#000000"
                  style="margin-right: 0.5em"
                  title="Choose a color"
              /></span>
            </div>
            <div class="row">
              <div><br /></div>
              <label for="gridWeight" class="col-4"
                >&nbsp;&nbsp;Grid line weight:
              </label>
              <span class="col-2">
                <input
                  id="gridWeight"
                  class="grid-weight data-input form-control bg-white numberInput w-100"
                  type="number"
                  value="{{gridWeight}}"
                  name="gridWeight"
              /></span>
            </div>
            <div class="row">
              <label for="gridColor" class="col-4">&nbsp;&nbsp;Grid line color: </label>
              <span class="col-5">
                <input
                  id="gridColor"
                  type="color"
                  class="form-control form-control-color d-inline-block color-picker bg-white gridColor-graphColorpick"
                  value="#eeeeee"
                  style="margin-right: 0.5em"
                  title="Choose a color"
              /></span>
            </div>
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="axisSubmit"
              id="axisSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div
      class="modal fade"
      id="lineTypeModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="lineTypeModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="lineTypeModalLabel" class="modal-title text-dark-blue">
              Curve Styles
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Select line styles and markers</h3>
            <h4>* Leave a field blank to preserve its original value.</h4>
          </div>
          <div class="modal-body h-50">
            {{#each curves}}
            <div class="row">
              <label class="col-12 text-center fs-5 mb-2">{{this.label}}</label>
            </div>
            <div class="row">
              <label for="{{this.label}}LineColor" class="col-2 text-center"
                >Color</label
              >
              {{#if isLinePlot}}
              <label for="{{this.label}}LineStyle" class="col-2 text-center"
                >Line Style</label
              >
              <label for="{{this.label}}LineWeight" class="col-2 text-center"
                >Line Weight</label
              >
              <label for="{{this.label}}ErrorWeight" class="col-2 text-center"
                >Errorbar Weight</label
              >
              {{/if}} {{#if isLineOrScatterPlot}}
              <label for="{{this.label}}LineMarker" class="col-2 text-center"
                >Marker Style</label
              >
              <label for="{{this.label}}MarkerWeight" class="col-2 text-center"
                >Marker Weight</label
              >
              {{/if}}
            </div>
            <div class="row">
              <span class="col-2 text-center">
                <input
                  id="{{this.label}}LineColor"
                  type="color"
                  class="form-control form-control-color d-inline-block color-picker {{this.label}}-graphColorpick bg-white w-100"
                  value="{{colorHex}}"
                  style="margin-right: 0.5em"
                  title="Choose a color"
              /></span>
              {{#if isLinePlot}}
              <span class="col-2 text-center">
                <select
                  id="{{this.label}}LineStyle"
                  class="{{this.label}}-line-style form-select bg-white w-100"
                  style="font-size: small"
                  aria-label="line style options"
                >
                  <option value="solid" selected="selected">Solid</option>
                  <option value="dash">Dash</option>
                  <option value="dot">Dot</option>
                  <option value="dashdot">Dash-dot</option>
                </select></span
              >
              <span class="col-2 text-center">
                <input
                  id="{{this.label}}LineWeight"
                  class="{{this.label}}-line-weight data-input form-control numberInput bg-white w-100"
                  type="number"
                  value="3"
                  name="{{this.label}}LineWeight"
                  style="font-size: small"
              /></span>
              <span class="col-2 text-center">
                <input
                  id="{{this.label}}ErrorWeight"
                  class="{{this.label}}-error-weight data-input form-control numberInput bg-white w-100"
                  type="number"
                  value="2"
                  name="{{this.label}}ErrorWeight"
                  style="font-size: small"
              /></span>
              {{/if}} {{#if isLineOrScatterPlot}}
              <span class="col-2 text-center">
                <select
                  id="{{this.label}}LineMarker"
                  class="{{this.label}}-line-marker form-select bg-white w-100"
                  style="font-size: small"
                  aria-label="line marker options"
                >
                  <option value="circle" selected="selected">Solid circle</option>
                  <option value="circle-open">Open circle</option>
                  <option value="square">Solid Square</option>
                  <option value="square-open">Open Square</option>
                  <option value="star-square">Concave Square</option>
                  <option value="diamond-tall">Solid Diamond</option>
                  <option value="diamond-tall-open">Open Diamond</option>
                  <option value="star-diamond">Concave Diamond</option>
                  <option value="star">Solid star</option>
                  <option value="star-open">Open star</option>
                  <option value="x">Solid X</option>
                  <option value="x-open">Open X</option>
                </select></span
              >
              <span class="col-2 text-center">
                <input
                  id="{{this.label}}MarkerWeight"
                  class="{{this.label}}-marker-weight data-input form-control numberInput bg-white w-100"
                  type="number"
                  value="9"
                  name="{{this.label}}MarkerWeight"
                  style="font-size: small"
              /></span>
              {{/if}}
            </div>
            <div><br /></div>
            {{/each}}
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="lineTypeSubmit"
              id="lineTypeSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="showHideModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="showHideModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="showHideModalLabel" class="modal-title text-dark-blue">
              Show/Hide
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Show/hide curve elements</h3>
          </div>
          <div class="modal-body h-50">
            <div class="row">
              <label for="showHideNOAADisclaimer" class="col-8 fs-5"
                >&nbsp;&nbsp;&nbsp;&nbsp;Show NOAA Disclaimer&nbsp;&nbsp;</label
              >
              <input
                id="showHideNOAADisclaimer"
                class="show-hide-disclaimer data-input checkboxInput col-4"
                type="checkbox"
                value=""
                name="showHideNOAADisclaimer"
                checked
              />
            </div>
            {{#each curves}}
            <div class="row">
              <div><br /></div>
              <label class="col-2 fs-6">{{this.label}}: </label>
              <span
                id="curve-text-buttons-grp-{{this.label}}"
                class="btn-group btn-group-xs"
              >
                <input
                  type="button"
                  class="curveVisibility btn btn-info rounded"
                  value="{{hideButtonText}}"
                  id="{{this.label}}-curve-show-hide"
                  style="display:{{curveShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
                <input
                  type="button"
                  class="pointsVisibility btn btn-info rounded"
                  value="{{pointsButtonText}}"
                  id="{{this.label}}-curve-show-hide-points"
                  style="display:{{pointsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
                <input
                  type="button"
                  class="errorBarVisibility btn btn-info rounded"
                  value="{{errorBarButtonText}}"
                  id="{{this.label}}-curve-show-hide-errorbars"
                  style="display:{{errorbarsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
                <input
                  type="button"
                  class="barVisibility btn btn-info rounded"
                  value="{{barChartButtonText}}"
                  id="{{this.label}}-curve-show-hide-bars"
                  style="display:{{barsShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
                <input
                  type="button"
                  class="annotateVisibility btn btn-info rounded"
                  value="{{annotateButtonText}}"
                  id="{{this.label}}-curve-show-hide-annotate"
                  style="display:{{annotateShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
                <input
                  type="button"
                  class="legendVisibility btn btn-info rounded"
                  value="{{legendButtonText}}"
                  id="{{this.label}}-curve-show-hide-legend"
                  style="display:{{legendShowHideDisplay}}; background-color: #FFFFFF; border-color: {{this.color}}; color: {{this.color}}"
                />
              </span>
            </div>
            {{/each}}
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="showHideSubmit"
              id="showHideSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="legendTextModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="legendTextModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="legendTextModalLabel" class="modal-title text-dark-blue">
              Edit Legend
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Edit text for each curve's legend</h3>
            <h4>* Leave a field blank to preserve its original value.</h4>
          </div>
          <div class="modal-body h-50">
            <div class="row">
              <label for="legendPositionSelect" class="fs-5 col-lg-4 col-5"
                >Legend position:&nbsp;&nbsp;</label
              >
              <span class="col-lg-8 col-7">
                <select
                  id="legendPositionSelect"
                  class="form-select bg-white"
                  aria-label="legend location options"
                >
                  <option value="TL">Top Left</option>
                  <option value="TR">Top Right</option>
                  <option value="BL">Bottom Left</option>
                  <option value="BR">Bottom Right</option>
                </select></span
              >
            </div>
            <div><br /></div>
            {{#each curves}}
            <div class="row">
              <label for="{{this.label}}LegendText" class="col-2 fs-5"
                >{{this.label}}:
              </label>
              <span class="col-10">
                <input
                  id="{{this.label}}LegendText"
                  class="{{this.label}}-legend-text data-input form-control bg-white textInput w-100"
                  type="text"
                  value="{{curveText}}"
                  name="{{this.label}}LegendText"
              /></span>
            </div>
            {{/each}}
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="legendTextSubmit"
              id="legendTextSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    {{#if isLineOrScatterPlot}}
    <div
      class="modal fade"
      id="filterPointsModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="filterPointsModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="filterPointsModalLabel" class="modal-title text-dark-blue">
              Filter Points
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Uncheck points to exclude from graph</h3>
          </div>
          <div class="modal-body h-50" style="overflow-x: hidden; overflow-y: auto">
            {{#each curves}}
            <div class="row">
              <span class="col-12"
                ><h4>&nbsp;&nbsp;{{this.label}}{{indValLabel}}</h4></span
              >
            </div>
            {{#each indVals this.label}}
            <div class="row">
              <label for="{{this.label}}---filterPoint" class="col-8"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{this.val}}&nbsp;&nbsp;</label
              >
              <span class="col-4">
                <input
                  id="{{this.label}}---filterPoint"
                  class="filter-point data-input checkboxInput"
                  type="checkbox"
                  value=""
                  name="filterPoint"
                  checked
              /></span>
            </div>
            {{/each}} {{/each}}
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="filterPointsSubmit"
              id="filterPointsSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    {{/if}} {{#if isContour}}
    <div
      class="modal fade"
      id="colorbarModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="colorbarModalLabel"
    >
      <div class="modal-dialog modal-lg modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="colorbarModalLabel" class="modal-title text-dark-blue">
              Contour Styles
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="text-center mt-4 mb-3">
            <h3>Select colorbar limits and label</h3>
            <h4>* Leave a field blank to preserve its original value.</h4>
            <div class="fs-5 text-center text-dark-blue mt-3">
              Choose either a contour step OR a number of contours.<br />If both are
              given, the number of contours will be used.
            </div>
          </div>
          <div class="modal-body h-50">
            <div><br /></div>
            <div id="colorbarCustomControls">
              <div class="row">
                <label for="colorbarLabel" class="col-5">Colorbar label: </label>
                <span class="col-7">
                  <input
                    id="colorbarLabel"
                    class="colorbar-label data-input form-control textInput bg-white w-100"
                    type="text"
                    value="{{colorbarTitle}}"
                    name="colorbarLabel"
                /></span>
              </div>
              <div><br /></div>
              <div class="row">
                <label for="colorbarMin" class="col-5">Minimum contour value: </label>
                <span class="col-7">
                  <input
                    id="colorbarMin"
                    class="colorbar-min data-input form-control numberInput bg-white w-100"
                    type="number"
                    value="{{colorbarMin}}"
                    name="colorbarMin"
                /></span>
              </div>
              <div class="row">
                <label for="colorbarMax" class="col-5">Maximum contour value: </label>
                <span class="col-7">
                  <input
                    id="colorbarMax"
                    class="colorbar-max data-input form-control numberInput bg-white w-100"
                    type="number"
                    value="{{colorbarMax}}"
                    name="colorbarMax"
                /></span>
              </div>
              <div><br /></div>
              <div class="row">
                <label for="colorbarNumber" class="col-5">Number of contours: </label>
                <span class="col-7">
                  <input
                    id="colorbarNumber"
                    class="colorbar-number data-input form-control numberInput bg-white w-100"
                    type="number"
                    value=""
                    name="colorbarNumber"
                /></span>
              </div>
              <div>OR</div>
              <div class="row">
                <label for="colorbarStep" class="col-5">Contour value step: </label>
                <span class="col-7">
                  <input
                    id="colorbarStep"
                    class="colorbar-step data-input form-control numberInput bg-white w-100"
                    type="number"
                    value="{{colorbarStep}}"
                    name="colorbarStep"
                /></span>
              </div>
              <div><br /></div>
              <div class="row">
                <label for="colorbarReverse" class="col-5">Reverse colormap: </label>
                <span class="col-7">
                  <input
                    id="colorbarReverse"
                    class="colorbar-reverse fs-5 data-input checkboxInput"
                    type="checkbox"
                    value=""
                    name="colorbarReverse"
                /></span>
              </div>
              <div><br /></div>
              <div class="row">
                <label for="colormapSelect" class="col-5 col-form-label"
                  >Select colormap:
                </label>
                <span class="col-7">
                  <select
                    id="colormapSelect"
                    class="form-select bg-white"
                    aria-label="preset colorbar options"
                  >
                    <option value="RdBu">RedBlue</option>
                    <option value="{{RdWhBuTriplet}}">RedWhiteBlue</option>
                    <option value="{{MPL_BrBGTriplet}}">Wet/Dry (No White)</option>
                    <option value="{{MPL_BrBWGTriplet}}">Wet/Dry (Center White)</option>
                    <option value="Jet">Jet</option>
                    <option value="Portland">Portland</option>
                    <option value="Rainbow">Rainbow</option>
                    <option value="Blackbody">Blackbody</option>
                    <option value="Earth">Earth</option>
                    <option value="Electric">Electric</option>
                    <option value="Hot">Hot</option>
                    <option value="Picnic">Picnic</option>
                    <option value="Reds">Reds</option>
                    <option value="Greens">Greens</option>
                    <option value="Blues">Blues</option>
                    <option value="Greys">Greys</option>
                    <option value="Viridis">Viridis</option>
                    <option value="Cividis">Cividis</option>
                    <option value="Bluered">BlueRed</option>
                    <option value="YlGnBu">YellowGreenBlue</option>
                    <option value="YlOrRd">YellowOrangeRed</option>
                  </select></span
                >
              </div>
              <div id="sigDotContainer" style="display: block">
                <div><br /></div>
                <div class="row">
                  <label for="sigDotColor" class="col-5"
                    >Significance dot color:
                  </label>
                  <span class="col-7">
                    <input
                      id="sigDotColor"
                      type="color"
                      class="form-control form-control-color d-inline-block color-picker bg-white gridColor-graphColorpick"
                      value="#000000"
                      style="margin-right: 0.5em"
                      title="Choose a color"
                  /></span>
                </div>
              </div>
              <div><br /></div>
              <div class="row">
                <label for="nullSmooth" class="col-5">Interpolate over nulls: </label>
                <span class="col-7">
                  <input
                    id="nullSmooth"
                    class="null-smooth data-input checkboxInput"
                    type="checkbox"
                    value=""
                    name="nullSmooth"
                /></span>
              </div>
            </div>
          </div>
          <div class="modal-footer border-top-0">
            <button
              type="button"
              class="cancel-send btn btn-primary"
              data-bs-dismiss="modal"
            >
              &nbsp;&nbsp;Cancel
            </button>
            <button
              name="colorbarSubmit"
              id="colorbarSubmit"
              type="submit"
              class="send btn btn-info"
            >
              &nbsp;&nbsp;Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div id="header" class="row px-4">
      <h4 class="col-9">
        <span>{{Title}} : </span><span>{{plotText}}</span><span> {{plotName}}</span>
      </h4>
      <span id="graph-touch-controls" class="btn-group btn-group-sm col-3">
        <button
          id="titleToCloserSpacer"
          type="button"
          class="btn spacebutton"
          aria-label="4th spacer"
        ></button>
        <button class="btn btn-danger rounded-pill closeapp">
          Close All Preview Windows
        </button>
        <button
          id="closerToRefreshSpacer"
          type="button"
          class="btn spacebutton"
          aria-label="5th spacer"
        ></button>
        <button
          id="refresh-plot"
          type="button"
          class="btn btn-primary rounded-pill"
          data-toggle="tooltip"
          data-placement="top"
          title="Reset plot to original"
          aria-label="Reset plot to original"
        >
          <i class="fa-solid fa-arrows-rotate"></i>
        </button>
      </span>
      <span style="display: none">{{graphFunction}}</span>
    </div>
    <div id="curves" class="row px-5 mt-2 mb-4">
      {{#each curves}}
      <div
        id="legendContainer{{this.label}}"
        class="col-12"
        style="font-size: smaller"
      ></div>
      <input
        type="button"
        class="heatMapVisibility btn btn-primary"
        value="{{heatMapButtonText}}"
        id="{{this.label}}-curve-show-hide-heatmap"
        style="border-radius: 5px; display:{{heatMapShowHideDisplay}};"
      />
      {{/each}}
    </div>
    <div id="textView" style="display: none">{{>textOutput}}</div>
    <div id="graphView" class="row w-100 px-4">
      <div
        id="placeholder"
        class="row text-start"
        name="placeholder"
        style="width:{{width}}; height:{{height}};"
        alt="MATS plot result"
      >
        {{! This is where plotly will place the graph - there is nothing here when the
        page loads}}
      </div>
      <br />
    </div>
    <h5
      class="row text-center"
      id="confidenceNote"
      style="font-size:large;display:{{confidenceDisplay}};"
    >
      Error Bars show 95% confidence
    </h5>
  </div>
</template>
