<template name="item">
    <div id="{{name}}-item" class="item btn-group"  role="group" style="display:{{display}}">
        <button type="button" class="control-button btn btn-primary mediumPublicSans" id="{{controlButton}}" style="display:{{controlButtonCovered}}; margin-left: 0">{{{fa}}}{{tcname}}</button>
        <span style="display:inline-block;">&nbsp;</span>
        <div id="{{element}}" style="display:{{elementHidden}};{{position}};z-index: {{zIndexVal}};float:right;background-color: white;" >
            {{#if isSelect}}
                {{> select this}}
            {{else}} {{#if isSpinner}}
                {{>numberSpinner this}}
            {{else}} {{#if isInput}}
                {{> textInput this}}
            {{else}} {{#if iscolor}}
                {{> color this}}
            {{else}} {{#if isDateRange}}
                {{> dateRange this}}
            {{else}} {{#if isCheckBoxGroup}}
                <div class="container" id="{{name}}-{{type}}" style="font-size:large;background-color:lightcyan;width:100%;white-space: nowrap;">
                    {{lcname}}:
                    {{#each options}}
                        {{> checkboxGroup this}}
                    {{/each}}
                </div>
            {{else}} {{#if isRadioGroup}}
                <div class="container btn-group" id="{{name}}-{{type}}" style="font-size:large;background-color:lightcyan;width:100%;white-space: nowrap;">
                    <span>{{lcname}}:</span>
                    {{#each options}}
                        {{> radioGroup this}}
                    {{/each}}
                </div>
            {{else}} {{#if isSelectMap}}
                {{> map this}}
            {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
        </div>
        {{#if hasHelp}}
            <button type="button" class="control-button btn btn-info mediumPublicSans" name="{{controlButton}}-value" id="{{controlButton}}-value" style="display:{{controlButtonCovered}}"> {{textValue}}</button>
            <button style="background-color:#bbffbb; color: #000000; margin-left: 0; margin-right: 1em" type="button" class="btn btn-info boldedPublicSans help">?</button>
        {{else}}
            {{#if iscolor}}
                <button type="button" class="control-button btn btn-info mediumPublicSans" name="{{controlButton}}-value" id="{{controlButton}}-value" style="display:{{controlButtonCovered}}; margin-right: 1em; background-color:{{defaultColor}}"> {{textValue}}</button>
            {{else}}
                <button type="button" class="control-button btn btn-info mediumPublicSans" name="{{controlButton}}-value" id="{{controlButton}}-value" style="display:{{controlButtonCovered}}; margin-right: 1em;"> {{textValue}}</button>
            {{/if}}
        {{/if}}
    </div>
</template>