<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="favicon.svg" type="image/x-icon" />
  <title>MATS: Model Analysis Tool Suite</title>
</head>
<body>
{{!--
  Note - It seems really weird to include a template with just a <head> element in the
  <body> here. However, it does work and Meteor puts it in the correct place. I did try
  including the analytics template with a <template> tag, or a <head> tag instead of using
  the <body> tag. However, for reasons beyond me that didn't work. If you can fix this,
  please do.
  --}}
{{>analytics}}
</body>