<template name="qcParamGroup">
  {{#if notScorecard}}
  <div
    id="qcParamGroup-item"
    class="row bg-info-subtle border border-info border-1 rounded-1 mt-3 p-2"
  >
    <label for="plotTypes-selector" class="col-2 col-form-label regularPublicSans fs-5"
      >Quality Control</label
    >
    <span class="col-4 text-end">
      <label for="completeness" class="col-form-label regularPublicSans fs-5 pl-2"
        >Completeness threshold (%):&nbsp;
      </label>
    </span>
    <span class="col-1 text-start">
      <input
        type="number"
        class="form-control bg-white"
        name="quantity"
        id="completeness"
        min="0"
        max="100"
        value="{{completenessNumber}}"
        aria-label="Completeness threshold (%)"
      />
    </span>
    <span class="col-3 text-end">
      <label for="outliers" class="col-form-label regularPublicSans fs-5 pl-2"
        >StDev filter level:&nbsp;
      </label>
    </span>
    <span class="col-2 text-start">
      {{#if noQC}}
      <select
        id="outliers"
        class="form-select bg-white"
        aria-label="StDev filter level"
      >
        <option value="all" selected="selected">All Data</option>
        <option value="3">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{else}}
      <select
        id="outliers"
        class="form-select bg-white"
        aria-label="Stdev filter level"
      >
        <option value="all">All Data</option>
        <option value="3" selected="selected">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{/if}}
    </span>
  </div>
  <div
    id="qcParamGroup-lite-item"
    class="d-none row bg-info-subtle border border-info border-1 rounded-1 mt-3 p-2"
  >
    <label for="plotTypes-selector" class="col-2 col-form-label regularPublicSans fs-5"
      >Quality Control</label
    >
    <span class="col-3 text-end">
      <label for="outliers-lite" class="col-form-label egularPublicSans fs-5 pl-2"
        >StDev filter level:&nbsp;
      </label>
    </span>
    <span class="col-2 text-start">
      {{#if noQC}}
      <select
        id="outliers-lite"
        class="form-select bg-white"
        aria-label="StDev filter level"
      >
        <option value="all" selected="selected">All Data</option>
        <option value="3">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{else}}
      <select
        id="outliers-lite"
        class="form-select bg-white"
        aria-label="Stdev filter level"
      >
        <option value="all">All Data</option>
        <option value="3" selected="selected">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{/if}}
    </span>
  </div>
  <div
    id="qcParamGroup-gaps-item"
    class="d-none row bg-info-subtle border border-info border-1 rounded-1 mt-3 p-2"
  >
    <label for="plotTypes-selector" class="col-2 col-form-label regularPublicSans fs-5"
      >Quality Control</label
    >
    <span class="col-4 text-end">
      <label for="completeness-gaps" class="col-form-label regularPublicSans fs-5 pl-2"
        >Completeness threshold (%):&nbsp;
      </label>
    </span>
    <span class="col-1 text-start">
      <input
        type="number"
        class="form-control bg-white"
        name="quantity"
        id="completeness-gaps"
        min="0"
        max="100"
        value="{{completenessNumber}}"
        aria-label="Completeness threshold (%)"
      />
    </span>
  </div>
  {{/if}}
</template>
