<template name="qcParamGroup">
  {{#if notScorecard}}
  <div
    id="qcParamGroup-item"
    style="
      background-color: #ccffff;
      border-style: solid;
      border-color: #99cccc;
      border-width: 1px;
      border-radius: 4px;
      margin-top: 1.5em;
      padding: 0.5em 0.5em 0.5em 0;
      float: left;
      display: block;
    "
  >
    <label style="padding-left: 1em; font-size: large; font-weight: normal"
      >QC parameters:
    </label>
    <span style="font-size: large; font-weight: normal">
      <label
        for="completeness"
        style="padding-left: 1em; font-size: large; font-weight: normal"
        >Data completeness percentage:
      </label>
      <input
        type="number"
        name="quantity"
        id="completeness"
        min="0"
        max="100"
        value="{{completenessNumber}}"
      />
    </span>
    <span style="font-size: large; font-weight: normal">
      <label
        for="outliers"
        style="padding-left: 1em; font-size: large; font-weight: normal"
        >Stdev filter level:
      </label>
      {{#if noQC}}
      <select id="outliers" aria-label="outlier options">
        <option value="all" selected="selected">All Data</option>
        <option value="3">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{else}}
      <select id="outliers" aria-label="outlier options">
        <option value="all">All Data</option>
        <option value="3" selected="selected">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{/if}}
    </span>
  </div>
  <div
    id="qcParamGroup-lite-item"
    style="
      background-color: #ccffff;
      border-style: solid;
      border-color: #99cccc;
      border-width: 1px;
      border-radius: 4px;
      margin-top: 1.5em;
      padding: 0.5em 0.5em 0.5em 0;
      float: left;
      display: none;
    "
  >
    <label style="padding-left: 1em; font-size: large; font-weight: normal"
      >QC parameters:
    </label>
    <span style="font-size: large; font-weight: normal">
      <label
        for="outliers-lite"
        style="padding-left: 1em; font-size: large; font-weight: normal"
        >Stdev filter level:
      </label>
      {{#if noQC}}
      <select id="outliers-lite" aria-label="outlier options">
        <option value="all" selected="selected">All Data</option>
        <option value="3">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{else}}
      <select id="outliers-lite" aria-label="outlier options">
        <option value="all">All Data</option>
        <option value="3" selected="selected">3 sd</option>
        <option value="2">2 sd</option>
        <option value="1">1 sd</option>
      </select>
      {{/if}}
    </span>
  </div>
  <div
    id="qcParamGroup-gaps-item"
    style="
      background-color: #ccffff;
      border-style: solid;
      border-color: #99cccc;
      border-width: 1px;
      border-radius: 4px;
      margin-top: 1.5em;
      padding: 0.5em 0.5em 0.5em 0;
      float: left;
      display: none;
    "
  >
    <label style="padding-left: 1em; font-size: large; font-weight: normal"
      >QC parameters:
    </label>
    <span style="font-size: large; font-weight: normal">
      <label
        for="completeness-gaps"
        style="padding-left: 1em; font-size: large; font-weight: normal"
        >Data completeness percentage:
      </label>
      <input
        type="number"
        name="quantity"
        id="completeness-gaps"
        min="0"
        max="100"
        value="{{completenessNumber}}"
      />
    </span>
  </div>
  {{/if}}
</template>
