<template name="footer" xmlns="http://www.w3.org/1999/html">
  <nav
    id="footnav"
    class="navbar navbar-default"
    style="display: block"
    aria-label="footer bar"
  >
    <div
      class="container-fluid"
      style="
        background-color: #eeeeee;
        height: 100%;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 1em;
        padding-top: 1em;
      "
    >
      <div class="row" style="background-color: #eeeeee; height: 100%; display: flex">
        <span style="width: 20%; text-align: left; padding-left: 1em"
          >{{>version}}</span
        >
        <span style="width: 80%; text-align: right; padding-right: 1em">
          <span
            ><a
              href="http://www.noaa.gov/privacy"
              target="_blank"
              style="color: black; font-size: small"
              >NOAA Privacy Statement<span class="sr-only">Opens in new window</span></a
            >
            &nbsp;
          </span>
          <span
            ><a
              href="http://www.noaa.gov/accessibility"
              target="_blank"
              style="color: black; font-size: small"
              >Web Accessibility Statement<span class="sr-only"
                >Opens in new window</span
              ></a
            >
            &nbsp;
          </span>
          <span
            ><a
              href="http://www.noaa.gov/disclaimer"
              target="_blank"
              style="color: black; font-size: small"
              >Disclaimer for External Links<span class="sr-only"
                >Opens in new window</span
              ></a
            >
            &nbsp;
          </span>
          <span
            ><a
              href="http://www.noaa.gov/"
              target="_blank"
              style="color: black; font-size: small"
              >NOAA<span class="sr-only">Opens in new window</span></a
            >
            &nbsp;
          </span>
          {{#if isMetexpress}}
          <span
            ><a
              href="http://www.commerce.gov/"
              target="_blank"
              style="color: black; font-size: small"
              >U.S. Department of Commerce<span class="sr-only"
                >Opens in new window</span
              ></a
            ></span
          >
          {{else}}
          <span
            ><a
              href="http://www.commerce.gov/"
              target="_blank"
              style="color: black; font-size: small"
              >U.S. Department of Commerce<span class="sr-only"
                >Opens in new window</span
              ></a
            >
            &nbsp;
          </span>
          <span
            ><a
              href="http://research.noaa.gov/"
              target="_blank"
              style="color: black; font-size: small"
              >NOAA Research<span class="sr-only">Opens in new window</span></a
            ></span
          >
          {{/if}}
        </span>
      </div>
    </div>
  </nav>
</template>
