name: "Lint"
on: [push, workflow_dispatch]

jobs:
  lint-matscommon:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install linters
        run: npm ci
      - name: Lint MATScommon
        run: npm run lint 

