<template name="plotList">
  <div id="plotList">
    <div id="plotWell" class="clearfix well well-sm bg-white p-3">
      {{#each PlotParamGroups}} {{> plotParamGroup}} {{/each}}
    </div>
    <div
      class="modal fade"
      id="saveModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="saveModalLabel"
    >
      <div class="modal-dialog modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="saveModalLabel" class="modal-title text-dark-blue">
              Save Settings
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body h-50">
            <div>
              <label for="save_as" class="form-label fs-5"
                >Save new settings as:
              </label>
              <input
                id="save_as"
                class="data-input form-control bg-white textInput"
                type="text"
                name="save_as"
              />

              <div class="form-check">
                <input
                  id="save-public"
                  type="radio"
                  name="save-public-private"
                  class="form-check-input"
                  value="public"
                  checked
                />
                <label class="form-check-label" for="save-public">
                  Save in public directory
                </label>
              </div>
              <div class="form-check">
                <input
                  id="save-private"
                  type="radio"
                  name="save-public-private"
                  class="form-check-input"
                  value="private"
                  disabled
                />
                <label class="form-check-label" for="save-private">
                  Save in private directory (currently unavailable)
                </label>
              </div>
            </div>
            <br />
            <br />
            <div>
              <label for="save_to" class="form-label fs-6 text-body-tertiary"
                >Overwrite privately saved settings (currently unavailable):
              </label>
              <select
                class="data-input form-select save-to bg-white"
                name="save_selector"
                id="save_to"
                aria-label="private saved curve settings options"
                disabled
              >
                {{#each privateRestoreNames}}
                <option>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="modal-footer btn-group border-top-0">
            <button
              type="button"
              class="cancel-save btn btn-info"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button name="delete" type="button" class="delete-selected btn btn-danger">
              Delete Selected
            </button>
            <button name="save" type="submit" class="submit-params btn btn-success">
              Save Settings
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="restoreModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="restoreModalLabel"
    >
      <div class="modal-dialog modal-style">
        <div class="modal-content bg-white pt-3">
          <div class="modal-header border-bottom-0">
            <h2 id="restoreModalLabel" class="modal-title text-dark-blue">
              Restore Settings
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <label for="restore_from_public" class="form-label fs-6"
              >Restore public settings:
            </label>
            <select
              class="data-input form-select restore-from-public bg-white"
              name="restore_from_public"
              id="restore_from_public"
              aria-label="restore public curve settings options"
            >
              <option selected value="">Select curve settings</option>
              {{#each publicRestoreNames}}
              <option>{{this}}</option>
              {{/each}}
            </select>
            <br />
            <br />
            <label for="restore_from_private" class="form-label text-body-tertiary fs-6"
              >Restore private settings (currently unavailable):
            </label>
            <select
              class="data-input form-select restore-from-private bg-white"
              name="restore_from_private"
              id="restore_from_private"
              aria-label="restore private curve settings options"
              disabled
            >
              {{#each privateRestoreNames}}
              <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="modal-footer btn-group border-top-0">
            <button
              type="button"
              class="cancel-save btn btn-info"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button name="restore" type="submit" class="submit-params btn btn-success">
              &nbsp;&nbsp;Restore Settings
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="plot-buttons" class="btn-group">
      <button
        type="submit"
        name="plot"
        id="plot-curves"
        class="submit-params btn btn-success btn-sm"
        style="display: none"
      >
        <i class="fa-solid fa-diagram-project"></i>
      </button>
      <button
        type="submit"
        name="save"
        id="save-settings"
        class="submit-params btn btn-success btn-sm"
        style="display: none"
      >
        <i class="fa-solid fa-cloud-arrow-down"></i>
      </button>
      <button
        type="submit"
        name="restore"
        id="restore-settings"
        class="submit-params btn btn-success btn-sm"
        style="display: none"
      >
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </button>
    </div>
    <div class="w-100">{{> qcParamGroup}}</div>
  </div>
</template>
